body {
    display: inline-block;
    background-color: rgb(250,238,231);
    color: rgb(77, 67, 86);
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}

p {
    font-family: text-5xl;
    font-size: large;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border: 0 solid #e2e8f0;
    /* border: 1px dashed rgb(74,101,172); */
}
section {
    margin: 1rem;
    padding: 20px;

}

h1 {
    font-family:  font-semibold;
    font-size: 2rem;
    font-weight: bold; 
    color: rgb(51,39,42); 
    
} 

 h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(51,39,42);
    flex-basis: auto;
    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));

}

label {
    /* background-color: #4b8f35; */
    color: aqua;
    padding: 5px;
    margin: 5px 10px;
    border: 2px burlywood;
    flex-basis: auto;
    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
}

.hello {
    display: flexbox;
}
#about{
    display: flex;
    flex-direction: row;
}

#about > *{
    flex: 1;
    margin: 1rem;
    flex-basis: auto;
    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
    
} 

#projects p{
    flex: 1;
    margin: 1rem;
    border: none;
    flex-basis: auto;
    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
}

input, textarea {
    width: 50%;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid rgb(33, 56, 52);
    margin: 10px;
}

input:focus, textarea:focus{
    border: none;
    color: black;
}
textarea {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid rgb(33, 56, 52);
    margin: 10px;
   
}

.button {
    padding: 5px;
    margin-top: 5px;
    /* background-color: rgb(250, 230, 243); */
    text-align:center!important;
    color: rgb(50, 47, 47);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    flex-basis: auto;

    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
}

.rem-button {
    padding: 5px;
    margin-top: 5px;
    /* background-color: rgb(250, 230, 243); */
    text-align:center!important;
    color: rgb(50, 47, 47);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    flex-basis: auto;

    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
}

.edit-button {
    padding: 5px;
    margin-top: 5px;
    /* background-color: rgb(250, 230, 243); */
    text-align:center!important;
    color: rgb(50, 47, 47);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    flex-basis: auto;

    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
}

footer {
    background-color: rgb(250,238,231);
    margin-top: 20px;
    padding: 20px;
}

#photo {
    border: 5px solid rgb(110, 149, 158);
    border-style: inherit;
    border-radius: 100%;
    /* box-shadow: 10px 5px rgb(82, 90, 93); */
    filter: drop-shadow(0 0 0.75rem rgb(82, 90, 93));
}


/* [ON BIG SCREEN] */
    /* (A) WRAPPER */
        #hamnav {
            display: flex;
            width: 100%;
            background: #c2c1d3;
            filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
            justify-content: space-between;
            position: sticky;
            /* top: 0; */
            margin-top: 1em;
        }
        #myname{
            text-align: center;
            /* padding-top: 10px; */
            padding: 10px;
            
        }

        #myname a{
            /* color: #6089f1; */
            /* text-decoration-color: #FF3CAC; */
            text-decoration: none;
            color: #2b292c;
            font-family:  font-semibold;
            filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
        }
  /* (B) HORIZONTAL MENU ITEMS */
        #hamitems {
            display: flex;
            
        }
        #hamitems a {
            flex-grow: 1;
            /* flex-basis: 0; */
            padding: 10px;
            /* color: white; */
            text-decoration: none;
            text-align: center;
            color: #2b292c;
            font-family:  font-semibold;
        }

  /* change color for main nav on hover */
        #hamitems a:hover { 
            /* background: #8c8989;  */
            text-decoration:underline;
            text-decoration-color: #699bfe;
        }
        #myname a:hover{
            text-decoration:underline;
            text-decoration-color: #699bfe;
        }

/* (C) HIDE HAMBURGER ICON */
        #hamnav label, #hamburger { display: none; }

/* old ver */
        .nav-bar {
            display: flex;
            width: 100%;
            background: #c2c1d3;
            filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
            justify-content: space-between;
            vertical-align: middle;
            top: 0;
        }
        #myname {
            /* text-align: center; */
            /* margin: 20px 0; */
            /* padding: 10px; */

            /* border-radius: 10px; */
            /* border: 1px dashed rgb(74,101,172); */
            /* box-shadow: 5px 10px #888888; */
        
            /* width: 100px; */
            /* filter: drop-shadow(0 0 0.75rem rgb(74,101,172)); */

            /* max-width: fit-content; */
            /* flex: 1; */
        }
        .nav-list {
            display: block;
            flex-direction: row;

            padding: 10px;
            justify-content: space-evenly;
            margin: 0;
            
        }

        .nav-item {
            
            text-align: center;
            margin: 20px 0;
            padding: 10px;

            border-radius: 10px;
            border: 1px dashed rgb(74,101,172);
            box-shadow: 5px 10px #888888;
        
            width: 100px;
            filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
            flex: 1;
        }


        .nav-item:hover {
            background-color: rgb(103, 61, 124);
            color: rgb(255, 255, 255); 
            border-bottom: #6089f1 solid 0.3rem;
        
        }
/* -------------------------------------- */
/* experience */

.experience {
   display: flex;
   flex-direction: column;
   
}
.experience li {
    text-align: center;
    height: auto;
    border: 1px solid #cdd6ef;
    border: 1px dashed rgb(74,101,172);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    
    list-style-type: none;
    flex-basis: auto;
   
    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));

}


.message-list {
    display: grid;
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-around; */


}
.message-list li{
    display: grid;
    /* background-color: rgb(225, 225, 225);
    justify-content: space-around;
    margin-bottom: 10px; */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    /* height: 100vh; */
    flex: 1;
    
}
.message-list li > *{
    /* background-color: #757779; */
    flex: 1;
}

.message-list li > span{
    /* background-color: #757779; */
    width: auto;
}

 /* skills */

#skills {
   
    max-width: 75%;
}

#skills li:hover {
    
    background-color: rgb(103, 61, 124);
    color: rgb(255, 255, 255);
    
}

#skills ul {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    justify-content:center;
}

#skills li {
    border-radius: 10px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    filter: drop-shadow(0 0 0.75rem rgb(74,101,172));
    border: 1px dashed rgb(74,101,172);
    margin: 20px 0;
    padding: 10px;
    list-style-type: none;

    max-width: fit-content;
    flex: 1;
    flex-basis: auto;
    
}


/* Leave a Message Form */
#message-form{
    display: flexbox; 
  
}

#message-form label {
    color: #17191e;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    /* border: 1px dashed brown; */
    /* margin: 50px; */
    padding: 10px;
    /* list-style-type: none; */
    border-radius: 10px;
    /* display: inline; */
    /* max-width: fit-content; */
    /* flex: 1; */
}

#message-form input, textarea {
        margin-left: auto;
        /* margin-right: auto;
        width: 100px;
        text-align: center;
        border: 1px dashed brown;
        margin: 20px 0;
        padding: 50px;
        list-style-type: none;  */
        /* border-radius: 500px; */
    }    
/* ---------------------------------- */
.connectIcon {
    width: 2rem;
    margin-right: 1em;
    margin-bottom: 0.5em;
    /* display: block; */
    vertical-align: middle;
    }

#contact {

    font-family:  font-semibold;
    font-size: 1em;
    /* font-weight: bold;  */
    color: rgb(51,39,42); 

}


/* FOOTER ICONS */
    
    #footer .twitter {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: 0 0;
      }
      #footer .linkedin {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: -78px 0;
      }
      #footer .facebook {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: -233px 0;
      }
      #footer .skype {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: -156px 0;
      }
      #footer .flickr {
        background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
        background-repeat: no-repeat;
        background-position: -310px 0;
      }
      #footer a {
        height: 56px;
        width: 56px;
        display: inline-block;
        margin: 10px;
      }
      #footer a:hover {
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
      }
      #footer .twitter:hover {
        background-position: 0 -56px;
      }
      #footer .facebook:hover {
        background-position: -233px -56px;
      }
      #footer .skype:hover {
        background-position: -156px -56px;
      }
      #footer .linkedin:hover {
        background-position: -78px -56px;
      }
      #footer .flickr:hover {
        background-position: -310px -56px;
      }
      .bg-dark-1{
        background-color: #FF3CAC;
      background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
       
      }
      .text-center{
        text-align:center!important;
        color: rgb(50, 47, 47);
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        }

      
