body{
    background-color: #ecf2ea;
    color: hotpink;
    font-family: "Raleway", sans-serif;
}

section {
    margin: 5rem;
    padding: 20px;

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: dodgerblue;
}
h2 {

}

.experience li {
text-align: center;
}
